<h2>The Office's Pets</h2>
<p>Sorted by number of employees that belong-to dogs.</p>
<br>

<% @dogs.each do |dog| %>
<p> <%= link_to dog.name, dog_path(dog) %> </p>
<% end %>

<br><br><br>
<p>dogs#index</p>
